* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}





.card{
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 12px;
}

.card:last-child {
    margin-bottom: 0;
}


.layout-wrapper,.layout-static
{
    min-height: 100vh;
}

/**SideBar  */


.layout-sidebar {
  
   position: fixed;
   left: 0;
   top: 0;
   width: 300px;
   height: 100vh;
   z-index: 999;
   overflow-y: auto;
   user-select: none;
   transition: transform 0.2s, left 0.2s;
   background-color: var(--surface-overlay);
   padding: 0.5rem 1.5rem;
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
   transform:translateX(-100%) ;
   -webkit-transform:translateX(-100%) ;
   -moz-transform:translateX(-100%) ;
   -ms-transform:translateX(-100%) ;
   -o-transform:translateX(-100%) ;
 
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.layout-menu  li a
{
    display: flex;
    align-items: center;
    position: relative;
    outline: 0 none;
    color: var(--text-color);
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: 12px;
    transition: background-color 0.2s, box-shadow 0.2s;
    text-decoration: none;
}


.layout-root-menuitem{
    list-style-type: none;
    user-select: none;
}

.layout-root-menuitem > .layout-menuitem-root-text{
   font-size: 0.857rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--surface-900);
    margin: 0.75rem 0;
}

.layout-menuitem-icon
{
    margin-right: 0.5rem;
}

/** Top Bar **/
.layout-topbar {
    position: fixed;
    height: 5rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--surface-card);
    transition: left 0.2s;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
}

.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem ;
    transition: margin-left 0.2s;
}



.preloader {
    position: fixed;
    z-index: 999999;
    background: #edf1f5;
    width: 100%;
    height: 100%;
}
.preloader-content {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.preloader-content:before, .preloader-content:after{
    content: '';
    border: 1em solid var(--primary-color);
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.preloader-content:before{
    animation-delay: 0.5s;
}

@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}


:root{
    --border-radius:3px;
  --surface-ground:#121212;
  --surface-section:#121212;
  --surface-card:#1e1e1e;
  --surface-overlay:#1e1e1e;
  --surface-border:#383838;
  --surface-hover:rgba(255,255,255,.03);
  --focus-ring: 0 0 0 1px #93cbf9;
}